.cardContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
  width: 400px;
  background-color: white;
  padding: 4;
  border-radius: 10px;
  overflow: hidden;
}

.lyr {
  background: rgb(180, 177, 58);
  background: linear-gradient(
    90deg,
    rgba(180, 177, 58, 0.036852240896358524) 0%,
    rgba(84, 215, 243, 0.07326680672268904) 39%,
    rgba(194, 29, 253, 0.04805672268907568) 70%,
    rgba(252, 69, 226, 0.07326680672268904) 100%
  );
}

.outModelCss {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
  width: 380px;
  background-color: #d9e4f5;
  background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
  padding: 4;
  border-radius: 15px;
  overflow: hidden;
}

.audioCallingCard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
  width: 380px;
  background-color: #3b3b3b;
  border-radius: 5px;
  padding: 4;
}

.videoCallingCard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
  width: 380px;
  background-color: #d9e4f5;
  background-image: #525252;
  border-radius: 5px;
  padding: 4;
}
.audioRoomCard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 580px;
  background-color: #3b3b3b;
  border-radius: 5px;
  padding: 4;
}
